# Sklearn
topics:

0. Scikit-Learn workflow
1. Getting ready with data
2. choose the right estimator/algorithm for our problems
3. Fit the model/algo and use it to make predictions on our data
4. evaluate a model
5. Improve model
6. save and load a trained model
7. Putting it all together.

# 0. Scikit-Learn workflow

In [35]:
import numpy as np
import sklearn
sklearn.show_versions()

System:
    python: 3.12.2 | packaged by Anaconda, Inc. | (main, Feb 27 2024, 17:35:02) [GCC 11.2.0]
executable: /home/sid/projects/learning_stuff/ML/myenv/bin/python
   machine: Linux-6.6.10-76060610-generic-x86_64-with-glibc2.35

Python dependencies:
      sklearn: 1.3.0
          pip: 23.3.1
   setuptools: 68.2.2
        numpy: 1.26.4
        scipy: 1.11.4
       Cython: None
       pandas: 2.2.1
   matplotlib: 3.8.0
       joblib: 1.2.0
threadpoolctl: 2.2.0

Built with OpenMP: True

threadpoolctl info:
       filepath: /home/sid/projects/learning_stuff/ML/myenv/lib/libmkl_rt.so.2
         prefix: libmkl_rt
       user_api: blas
   internal_api: mkl
        version: 2023.1-Product
    num_threads: 4
threading_layer: intel

       filepath: /home/sid/projects/learning_stuff/ML/myenv/lib/libiomp5.so
         prefix: libiomp
       user_api: openmp
   internal_api: openmp
        version: None
    num_threads: 8

       filepath: /home/sid/projects/learning_stuff/ML/myenv/lib/libgomp.so.1.0.0
         prefix: libgomp
       user_api: openmp
   internal_api: openmp
        version: None
    num_threads: 8

In [9]:
import pandas as pd

heartd = pd.read_csv('data/heart-disease.xls')
heartd

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [7]:
# Create X (featrue matrix)
X = heartd.drop("target", axis=1)

# Create y (labels)
y= heartd.target

# 2 Choose the right model and hyperparameters

In [12]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

#we'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [14]:
# 3. Fit the model of the training data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [18]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [ ]:
# Make a prediction

y_label = clf.predict(np.array([2,3,45])) # will give error
# only the correst shape of test data can work with test model

In [21]:
y_preds = clf.predict(X_test)
y_preds

array([1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1])

In [22]:
# 4. Evalaluate the modelon training data and test data 
clf.score(X_train, y_train)

1.0

In [23]:
clf.score(X_test, y_test)

0.8688524590163934

In [25]:
from sklearn.metrics import classification_report, confusion_matrix,  accuracy_score
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.81      0.88      0.84        24
           1       0.91      0.86      0.89        37

    accuracy                           0.87        61
   macro avg       0.86      0.87      0.86        61
weighted avg       0.87      0.87      0.87        61

In [26]:
confusion_matrix(y_test, y_preds)

array([[21,  3],
       [ 5, 32]])

In [27]:
accuracy_score(y_test, y_preds)

0.8688524590163934

In [32]:
# Step 5 
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimator..")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%")
    print("" )

Trying model with 10 estimator..
Model accuracy on test set: 86.89%

Trying model with 20 estimator..
Model accuracy on test set: 85.25%

Trying model with 30 estimator..
Model accuracy on test set: 86.89%

Trying model with 40 estimator..
Model accuracy on test set: 88.52%

Trying model with 50 estimator..
Model accuracy on test set: 90.16%

Trying model with 60 estimator..
Model accuracy on test set: 88.52%

Trying model with 70 estimator..
Model accuracy on test set: 90.16%

Trying model with 80 estimator..
Model accuracy on test set: 90.16%

Trying model with 90 estimator..
Model accuracy on test set: 90.16%

In [33]:
# 6. Save a model and load it
import pickle 
pickle.dump(clf,open("random_forest_model_1.pkl", "wb"))

In [34]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(X_test, y_test)

0.9016393442622951

## Getting our data ready for ML

Three main setps:

    1. Split the data into features and labels  (usually `X` and `y`).
    2. Filling (also called imputing) or disregarding missing values.
    3. Converting non-numerical values to numerical values(also called features encoding).

In [36]:
heartd.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [38]:
X = heartd.drop("target", axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [40]:
y= heartd.target
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [41]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [42]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [45]:
# Row and Column
X.shape

(303, 13)

In [43]:
len(heartd)

303

In [44]:
# 80% learning data rest 20 training
len(heartd)*0.8

242.4

# Data cleaning and converting into numbers

In [49]:
sales = pd.read_csv("data/car-sales-extended.xls")
sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [50]:
len(sales)

1000

In [53]:
sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [57]:
# Spliting into X/y
X= sales.drop("Price", axis=1)
y = sales.Price 

#Split into training and testing
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size=0.2)

In [65]:
# Building ML model
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
# model.fit(X_train, y_train)
# model.score(X_train, y_train)

In [63]:
# Turning categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Categorical features
cf = ["Make","Colour","Doors"]
# One_hot 
oh = OneHotEncoder()
# transformer
tf  = ColumnTransformer([("oh",oh,
                                  cf)],
                                remainder="passthrough")

tfx = tf.fit_transform(X)
tfx

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [ ]:
# ALternative to make text into numbers 
# dummies = pd.get_dummies(sales[["Make","Colour","Doors"]])
#dummies

In [64]:
pd.DataFrame(tfx)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [67]:
# Let's refit the model 
np.random.seed(42)
X_train, X_test, y_train,y_test = train_test_split(tfx, y, test_size=0.2)
model.fit(X_train, y_train)

RandomForestRegressor()

In [68]:
model.score(X_test,y_test)

0.3235867221569877

## 1.2 What if there were missing values/data
    1. Fill them with some values(also called Imputation)
    2. Remove the samples with missing data altogether.

In [72]:
# Import missing data
msales = pd.read_csv("data/car-sales-extended-missing-data.xls")
msales

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [73]:
msales.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [74]:
X = msales.drop("Price",axis=1)
y =msales.Price

In [79]:
# Turning categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Categorical features
cf = ["Make","Colour","Doors"]
# One_hot 
oh = OneHotEncoder()
# transformer
tf  = ColumnTransformer([("oh",oh,
                                  cf)],
                                remainder="passthrough")

tfx = tf.fit_transform(X)
tfx

<1000x16 sparse matrix of type '<class 'numpy.float64'>'
	with 4000 stored elements in Compressed Sparse Row format>

#### option 1: Filling missing data with pandas

In [83]:
# Fill the "Make" column
msales["Make"].fillna("missing", inplace=True)

# Fill the "Color" Column
msales["Colour"].fillna("missing",inplace= True)
# Fill the "Color" Column
msales["Odometer (KM)"].fillna(msales["Odometer (KM)"].mean(), inplace= True )

# Fill the "Color" Column
msales["Doors"].fillna(4 ,inplace= True)

/tmp/ipykernel_128055/3174198706.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  msales["Colour"].fillna("missing",inplace= True)
/tmp/ipykernel_128055/3174198706.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  msales["Odometer (KM)"].fillna(msales["Odometer (KM)"].mean(), inplace= True )
/tmp/ipykernel_128055/3174198706.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  msales["Doors"].fillna(4 ,inplace= True)

In [84]:
msales.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [85]:
# Remove rows Price with missing values
msales.dropna(inplace=True)

In [86]:
msales.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [87]:
X = msales.drop("Price",axis=1)
y =msales.Price

In [89]:
# Turning categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Categorical features
cf = ["Make","Colour","Doors"]
# One_hot 
oh = OneHotEncoder()
# transformer
tf  = ColumnTransformer([("oh",oh,
                                  cf)],
                                remainder="passthrough")

tfx = tf.fit_transform(msales)
tfx

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

# Option2. Fill missing data with Sklearn