# Sklearn
topics:

0. Scikit-Learn workflow
1. Getting ready with data
2. choose the right estimator/algorithm for our problems
3. Fit the model/algo and use it to make predictions on our data
4. evaluate a model
5. Improve model
6. save and load a trained model
7. Putting it all together.

# 0. Scikit-Learn workflow

In [214]:
import numpy as np
import sklearn
sklearn.show_versions()

System:
    python: 3.12.2 | packaged by Anaconda, Inc. | (main, Feb 27 2024, 17:35:02) [GCC 11.2.0]
executable: /home/sid/projects/learning_stuff/ML/myenv/bin/python
   machine: Linux-6.6.10-76060610-generic-x86_64-with-glibc2.35

Python dependencies:
      sklearn: 1.3.0
          pip: 23.3.1
   setuptools: 68.2.2
        numpy: 1.26.4
        scipy: 1.11.4
       Cython: None
       pandas: 2.2.1
   matplotlib: 3.8.0
       joblib: 1.2.0
threadpoolctl: 2.2.0

Built with OpenMP: True

threadpoolctl info:
       filepath: /home/sid/projects/learning_stuff/ML/myenv/lib/libmkl_rt.so.2
         prefix: libmkl_rt
       user_api: blas
   internal_api: mkl
        version: 2023.1-Product
    num_threads: 4
threading_layer: intel

       filepath: /home/sid/projects/learning_stuff/ML/myenv/lib/libiomp5.so
         prefix: libiomp
       user_api: openmp
   internal_api: openmp
        version: None
    num_threads: 8

       filepath: /home/sid/projects/learning_stuff/ML/myenv/lib/libgomp.so.1.0.0
         prefix: libgomp
       user_api: openmp
   internal_api: openmp
        version: None
    num_threads: 8

In [215]:
import pandas as pd

heartd = pd.read_csv('data/heart-disease.xls')
heartd

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [216]:
# Create X (featrue matrix)
X = heartd.drop("target", axis=1)

# Create y (labels)
y= heartd.target

# 2 Choose the right model and hyperparameters

In [217]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

#we'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [218]:
# 3. Fit the model of the training data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [219]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [220]:
# Make a prediction

# y_label = clf.predict(np.array([2,3,45])) # will give error
# only the correst shape of test data can work with test model

In [221]:
y_preds = clf.predict(X_test)
y_preds

array([0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1])

In [222]:
# 4. Evalaluate the modelon training data and test data 
clf.score(X_train, y_train)

1.0

In [223]:
clf.score(X_test, y_test)

0.8032786885245902

In [224]:
from sklearn.metrics import classification_report, confusion_matrix,  accuracy_score
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.80      0.74      0.77        27
           1       0.81      0.85      0.83        34

    accuracy                           0.80        61
   macro avg       0.80      0.80      0.80        61
weighted avg       0.80      0.80      0.80        61

In [225]:
confusion_matrix(y_test, y_preds)

array([[20,  7],
       [ 5, 29]])

In [226]:
accuracy_score(y_test, y_preds)

0.8032786885245902

In [227]:
# Step 5 
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimator..")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%")
    print("" )

Trying model with 10 estimator..
Model accuracy on test set: 83.61%

Trying model with 20 estimator..
Model accuracy on test set: 83.61%

Trying model with 30 estimator..
Model accuracy on test set: 81.97%

Trying model with 40 estimator..
Model accuracy on test set: 85.25%

Trying model with 50 estimator..
Model accuracy on test set: 80.33%

Trying model with 60 estimator..
Model accuracy on test set: 83.61%

Trying model with 70 estimator..
Model accuracy on test set: 81.97%

Trying model with 80 estimator..
Model accuracy on test set: 83.61%

Trying model with 90 estimator..
Model accuracy on test set: 83.61%

In [228]:
# 6. Save a model and load it
import pickle 
pickle.dump(clf,open("random_forest_model_1.pkl", "wb"))

In [229]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(X_test, y_test)

0.8360655737704918

## Getting our data ready for ML

Three main setps:

    1. Split the data into features and labels  (usually `X` and `y`).
    2. Filling (also called imputing) or disregarding missing values.
    3. Converting non-numerical values to numerical values(also called features encoding).

In [230]:
heartd.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [231]:
X = heartd.drop("target", axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [232]:
y= heartd.target
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [233]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [234]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [235]:
# Row and Column
X.shape

(303, 13)

In [236]:
len(heartd)

303

In [237]:
# 80% learning data rest 20 training
len(heartd)*0.8

242.4

# Data cleaning and converting into numbers

In [238]:
sales = pd.read_csv("data/car-sales-extended.xls")
sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [239]:
len(sales)

1000

In [240]:
sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [241]:
# Spliting into X/y
X= sales.drop("Price", axis=1)
y = sales.Price 

#Split into training and testing
X_train, X_test, y_train,y_test = train_test_split(X,y,test_size=0.2)

In [242]:
# Building ML model
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
# model.fit(X_train, y_train)
# model.score(X_train, y_train)

In [243]:
# Turning categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Categorical features
cf = ["Make","Colour","Doors"]
# One_hot 
oh = OneHotEncoder()
# transformer
tf  = ColumnTransformer([("oh",oh,
                                  cf)],
                                remainder="passthrough")

tfx = tf.fit_transform(X)
tfx

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [244]:
# ALternative to make text into numbers 
# dummies = pd.get_dummies(sales[["Make","Colour","Doors"]])
#dummies

In [245]:
pd.DataFrame(tfx)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [246]:
# Let's refit the model 
np.random.seed(42)
X_train, X_test, y_train,y_test = train_test_split(tfx, y, test_size=0.2)
model.fit(X_train, y_train)

RandomForestRegressor()

In [247]:
model.score(X_test,y_test)

0.3235867221569877

## 1.2 What if there were missing values/data
    1. Fill them with some values(also called Imputation)
    2. Remove the samples with missing data altogether.

In [248]:
# Import missing data
msales = pd.read_csv("data/car-sales-extended-missing-data.xls")
msales

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [249]:
msales.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [250]:
X = msales.drop("Price",axis=1)
y =msales.Price

In [251]:
# Turning categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Categorical features
cf = ["Make","Colour","Doors"]
# One_hot 
oh = OneHotEncoder()
# transformer
tf  = ColumnTransformer([("oh",oh,
                                  cf)],
                                remainder="passthrough")

tfx = tf.fit_transform(X)
tfx

<1000x16 sparse matrix of type '<class 'numpy.float64'>'
	with 4000 stored elements in Compressed Sparse Row format>

#### option 1: Filling missing data with pandas

In [252]:
# Fill the "Make" column
msales["Make"].fillna("missing", inplace=True)

# Fill the "Color" Column
msales["Colour"].fillna("missing",inplace= True)
# Fill the "Color" Column
msales["Odometer (KM)"].fillna(msales["Odometer (KM)"].mean(), inplace= True )

# Fill the "Color" Column
msales["Doors"].fillna(4 ,inplace= True)

/tmp/ipykernel_288433/3174198706.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  msales["Make"].fillna("missing", inplace=True)
/tmp/ipykernel_288433/3174198706.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  msales["Colour"].fillna("missing",inplace= True)
/tmp/ipykernel_288433/3174198706.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  msales["Odometer (KM)"].fillna(msales["Odometer (KM)"].mean(), inplace= True )
/tmp/ipykernel_288433/3174198706.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  msales["Doors"].fillna(4 ,inplace= True)

In [253]:
msales.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [254]:
# Remove rows Price with missing values
msales.dropna(inplace=True)

In [255]:
msales.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [256]:
X = msales.drop("Price",axis=1)
y =msales.Price

In [257]:
# Turning categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Categorical features
cf = ["Make","Colour","Doors"]
# One_hot 
oh = OneHotEncoder()
# transformer
tf  = ColumnTransformer([("oh",oh,
                                  cf)],
                                remainder="passthrough")

tfx = tf.fit_transform(msales)
tfx

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

# Option2. Fill missing data with Sklearn

In [258]:
msales = pd.read_csv("data/car-sales-extended-missing-data.xls")
msales

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [259]:
msales.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [260]:
# drop the rows with NA values
msales = msales.dropna(subset= ["Price"])
msales.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [261]:
X = msales.drop("Price", axis =1)
y = msales.Price

In [262]:
# Fill missing values with Scikit-Learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill categorical values with `missing` & numerical with mean
# Cat_imputer (ci)
ci = SimpleImputer(strategy= "constant", fill_value="missing")

# door_imputer (di)
di = SimpleImputer(strategy="constant", fill_value=4 )

# num_imputer (ni)
ni = SimpleImputer(strategy="mean")

In [263]:
# Define Columns
# Cat_features
cf = ["Make","Odometer (KM)"]
# door_features 
df = ["Doors"]
# Num_features
nf= ["Odometer (KM)"]

In [264]:
# Create an imputer (Somethings that fills data)
imputer = ColumnTransformer([
    #to use it late we need to use the name inside `""`
    ("cat_imputer", ci, cf),
    ("door_imputer", di, df),
    ("num_imputer", ni,nf)
])

In [265]:
# Transform the data
TX= imputer.fit_transform(X)
TX

array([['Honda', 35431.0, 4.0, 35431.0],
       ['BMW', 192714.0, 5.0, 192714.0],
       ['Honda', 84714.0, 4.0, 84714.0],
       ...,
       ['Nissan', 66604.0, 4.0, 66604.0],
       ['Honda', 215883.0, 4.0, 215883.0],
       ['Toyota', 248360.0, 4.0, 248360.0]], dtype=object)

In [266]:
# Create df
fsales =  pd.DataFrame(TX, columns= ["Make", "Colour", "Doors", "Odometer (KM)"])
fsales

        Make    Colour Doors Odometer (KM)
0      Honda   35431.0   4.0       35431.0
1        BMW  192714.0   5.0      192714.0
2      Honda   84714.0   4.0       84714.0
3     Toyota  154365.0   4.0      154365.0
4     Nissan  181577.0   3.0      181577.0
..       ...       ...   ...           ...
945   Toyota   35820.0   4.0       35820.0
946  missing  155144.0   3.0      155144.0
947   Nissan   66604.0   4.0       66604.0
948    Honda  215883.0   4.0      215883.0
949   Toyota  248360.0   4.0      248360.0

[950 rows x 4 columns]

In [267]:
fsales.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [268]:
fsales.dtypes

Make             object
Colour           object
Doors            object
Odometer (KM)    object
dtype: object

In [269]:
fsales.Make = fsales.Make.astype(str)
fsales.Colour = fsales.Colour.astype(str)

In [270]:
# Turning categories into numbers
from sklearn.preprocessing import OneHotEncoder
# For changing the range of data, manupulating outliers with mean, standard deviation
from sklearn.compose import ColumnTransformer

# Categorical features
cf = ["Make","Colour","Doors"]
# One_hot 
oh = OneHotEncoder()
# transformer
tf  = ColumnTransformer([("oh",oh, cf)],
                                remainder="passthrough")

tfx = tf.fit_transform(fsales)
tfx

<950x910 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [271]:
# Now we got our data as numbers & filled missing values

#let's fit a model 
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(tfx, y, test_size= 0.2)

model = RandomForestRegressor()
model.fit(X_train,y_train)
model.score(X_test, y_test)

0.264973444806447

### filling missing values = Imputation
### Non-numerical to numerical = Feature engineering/ encoding

# 2. Choosing the right estimator/algorithm for your problem
Some things to note:

* Sklearn refers to machine learning models, algorithms as estimators.
* Classification problem - predicting a category (heart disease or not)
     * Sometimes you'll see clf (short for classifier) used as a classification estimator
* Regression problem - predicting a number (selling price of a car)

  If you're working on a machine learning problem and looking to use Sklearn and not sure what model you should use, refer to the sklearn machine learning map: https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

In [272]:
# Get California Housing dataset
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [273]:
# Store dictionary into dataframe

home = pd.DataFrame(housing["data"], columns = housing["feature_names"])
home

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [274]:
# actual target
home["MedHouseVal"] = housing["target"]
home.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

# For simplicity let's call this `MedHouseVal` our target

In [275]:
home["target"] = housing["target"]
home

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422,3.422
...,...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894,0.894

In [276]:
# dropping `MedHouseVal`
home = home.drop("MedHouseVal", axis= 1)
home

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [277]:
from sklearn.linear_model import Ridge
# Import algo 
np.random.seed(42)
# Splitting our data set
X = home.drop("target", axis=1)
y = home.target # Median price of home is $100,000s

# Split data into training and testing 
xtr,  xte, ytr, yte = train_test_split(X, y, test_size = 0.2)

# Instatiate and fit the model (on the training set)
model = Ridge()
model.fit(xtr, ytr)

# Checking the score of the model (on the test set)

model.score(xte, yte)

0.5758549611440131

In [278]:
from sklearn import linear_model
# Import algo 
np.random.seed(42)
# Splitting our data set
X = home.drop("target", axis=1)
y = home.target # Median price of home is $100,000s

# Split data into training and testing 
xtr,  xte, ytr, yte = train_test_split(X, y, test_size = 0.2)

# Instatiate and fit the model (on the training set)
model = linear_model.LassoLars()
model.fit(xtr, ytr)

# Checking the score of the model (on the test set)

model.score(xte, yte)

0.28416537340669845

What if `Ridge` didn't work or the score didn't fit our needs?

Well, we could always try a different model...

How about we try an ensemble model (an ensemble is combination of smaller models to try and make better predictions than just a single model)?

Sklearn's ensemble models can be found here: https://scikit-learn.org/stable/modules/ensemble.html

In [279]:
# Import the RandomForestRegressor model class from the ensemble module 
from sklearn.ensemble import RandomForestRegressor 

# setting up the seed 
np.random.seed(42)

# Splitting our data set
X = home.drop("target", axis=1)
y = home.target # Median price of home is $100,000s

# Split data into training and testing 
xtr,  xte, ytr, yte = train_test_split(X, y, test_size = 0.2)

# Instatiate and fit the model (on the training set)
model = RandomForestRegressor()
model.fit(xtr, ytr)

# Checking the score of the model (on the test set)

model.score(xte, yte)

0.8066196804802649

# 2.2 Choose an estimator for a classification problem
map link: https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

In [280]:
# heart disease = hd
hd = pd.read_csv("data/heart-disease.xls")
hd.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [281]:
len(hd)

303

In [282]:
# choosing model
from sklearn import svm

np.random.seed(42)

# dividing features and target
X = hd.drop("target", axis=1)
y = hd.target

#splitting dataset 
xtr, xte, ytr, yte = train_test_split(X,y, test_size=0.2)

# declaring model and selecting it
svc= svm.SVC()
svc.fit(xtr, ytr)

#score 
svc.score(xte, yte)

0.7049180327868853

In [283]:
# choosing model
from sklearn.svm import LinearSVC

np.random.seed(42)

# dividing features and target
X = hd.drop("target", axis=1)
y = hd.target

#splitting dataset 
xtr, xte, ytr, yte = train_test_split(X,y, test_size=0.2)

# declaring model and selecting it
svc= LinearSVC()
svc.fit(xtr, ytr)

#score 
svc.score(xte, yte)

/home/sid/projects/learning_stuff/ML/myenv/lib/python3.12/site-packages/sklearn/svm/_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(
/home/sid/projects/learning_stuff/ML/myenv/lib/python3.12/site-packages/sklearn/svm/_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

0.8688524590163934

In [284]:
# choosing model
from sklearn.neighbors import KNeighborsClassifier

#np.random.seed(42)

# dividing features and target
X = hd.drop("target", axis=1)
y = hd.target

#splitting dataset 
xtr, xte, ytr, yte = train_test_split(X,y, test_size=0.2)

# declaring model and selecting it
svc= KNeighborsClassifier()
svc.fit(xtr, ytr)

#score 
svc.score(xte, yte)

0.5573770491803278

In [285]:
# Import the RRandomForestClassifier model class from the ensemble module 
from sklearn.ensemble import RandomForestClassifier

# setting up the seed 
np.random.seed(42)

# Splitting our data set
X = hd.drop("target", axis=1)
y = hd.target 

# Split data into training and testing 
xtr,  xte, ytr, yte = train_test_split(X, y, test_size = 0.2)

# Instatiate and fit the model (on the training set)
model = RandomForestClassifier()
model.fit(xtr, ytr)

# Checking the score of the model (on the test set)

model.score(xte, yte)

0.8524590163934426

Tidbit:

1. If you have structured data, used ensemble methods
2. If you have unstructured data, use deep learning or transfer learning

# 3. Fitting our data to make prediction
### 3.1 Fitting the model to the data 
* `X` = features, features variables, data
* `y` = labels, targets, target variables

In [288]:
# Import the RRandomForestClassifier model class from the ensemble module 
from sklearn.ensemble import RandomForestClassifier

# setting up the seed 
np.random.seed(42)

# Splitting our data set
X = hd.drop("target", axis=1)
y = hd.target 

# Split data into training and testing 
xtr,  xte, ytr, yte = train_test_split(X, y, test_size = 0.2)

# Instatiate and fit the model (on the training set)
model = RandomForestClassifier()

# Fit the model to the data (Training machine learning model)
model.fit(xtr, ytr)

# Checking the score of the model (on the test set)

model.score(xte, yte)

0.8524590163934426

### Random Forest model deep dive
These resources will help you understand what's happening inside the Random Forest models we've been using.

* Random Forest Wikipedia
* Random Forest Wikipedia (simple version)
* Random Forests in Python by yhat
* An Implementation and Explanation of the Random Forest in Python by Will Koehrsen

## 3.2 Making prediction using a machine learning model

2 ways to make predictions:
1. `predict()`
2. `predict_proba`

In [292]:
# Use a trained model to predict
# model.predict(np.array([2,234,4,1,123,123,2,3,23,3,2,32,35]))

output = ''' ValueError: Expected 2D array, got 1D array instead:
array=[  2. 234.   4.   1. 123. 123.   2.   3.  23.   3.   2.  32.  35.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.'''
print(output)

 ValueError: Expected 2D array, got 1D array instead:
array=[  2. 234.   4.   1. 123. 123.   2.   3.  23.   3.   2.  32.  35.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [294]:
xte.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
179,57,1,0,150,276,0,0,112,1,0.6,1,1,1
228,59,1,3,170,288,0,0,159,0,0.2,1,0,3
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3
246,56,0,0,134,409,0,0,150,1,1.9,1,2,3
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2

In [295]:
model.predict(xte)

array([0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0])

In [297]:
np.array([yte])

array([[0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0,
        0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0]])

In [299]:
# Compare predictions to truth labels to evaluate the moidel 
predict = model.predict(xte)
np.mean(predict == yte)

0.8524590163934426

In [300]:
model.score(xte,yte)

0.8524590163934426

In [302]:
from sklearn.metrics import accuracy_score
# accu_score(y_test, models prediction )
accuracy_score(yte, predict)

0.8524590163934426

### 3.2.2 Make prediction with `predict_proba`

In [305]:
model.predict_proba(xte[:5])

array([[0.89, 0.11],
       [0.49, 0.51],
       [0.43, 0.57],
       [0.84, 0.16],
       [0.18, 0.82]])

In [307]:
model.predict(xte[:5])

array([0, 1, 1, 0, 1])

In [316]:
# Import the RRandomForestRegressor model class from the ensemble module 
from sklearn.ensemble import RandomForestRegressor

# setting up the seed 
np.random.seed(42)

# Splitting our data set
X = home.drop("target", axis=1)
y = home.target 

# Split data into training and testing 
xtr,  xte, ytr, yte = train_test_split(X, y, test_size = 0.2)

# Instatiate and fit the model (on the training set)
model = RandomForestRegressor()

# Fit the model to the data (Training machine learning model)
model.fit(xtr, ytr)

# Predicting the heart desease (on the test set)
pred = model.predict(xte)

In [317]:
pred

array([0.49384  , 0.75494  , 4.9285964, ..., 4.8363785, 0.71782  ,
       1.67901  ])

In [318]:
np.array([yte])

array([[0.477  , 0.458  , 5.00001, ..., 5.00001, 0.723  , 1.515  ]])

In [319]:
len(pred), len(yte)

(4128, 4128)

In [321]:
# Compare the predictions to the truth
from sklearn.metrics import mean_absolute_error
mean_absolute_error(yte,pred)

0.3265721842781009

## 4. Evaluating a machine learning model

Three ways to evaluate Scikit-Learn models/esitmators:
1. Estimator `score` method
2. The `scoring` parameter
3. Problem-specific metric functions.

### 4.1 Evaluating a model with the `score` method

In [344]:
from sklearn.ensemble import RandomForestClassifier

# Setup random seed
np.random.seed(42)

# Make the data
X= hd.drop("target", axis=1)
y = hd.target

# Split the data
xtr, xte, ytr, yte = train_test_split(X, y, test_size= 0.2)

# Random forest 
clf = RandomForestClassifier(n_estimators=20)

# Fit the model in the instance
clf.fit(xtr, ytr)

RandomForestClassifier(n_estimators=20)

In [345]:
clf.score(xtr, ytr)

1.0

In [346]:
clf.score(xte, yte )

0.8688524590163934

### Evaluating a regressor model

In [350]:
from sklearn.ensemble import RandomForestRegressor

# Setup random seed
np.random.seed(42)

# Make the data
X= home.drop("target", axis=1)
y = home.target

# Split the data
xtr, xte, ytr, yte = train_test_split(X, y, test_size= 0.2)

# Random forest 
reg = RandomForestRegressor(n_estimators=500)

# Fit the model in the instance
reg.fit(xtr, ytr)

RandomForestRegressor(n_estimators=500)

In [351]:
reg.score(xtr, ytr)

0.9744835485523011

In [352]:
reg.score(xte, yte)

0.8082214606280393